[Desktop Entry]
Name=Lliurex OneDrive
Name[ca]=Lliurex OneDrive
Name[ca@valencia]=Lliurex OneDrive
Name[en_GB]=Lliurex OneDrive
Name[es]=Lliurex OneDrive
Comment=Show information and warnings about OneDrive Syncronization
Comment[ca]=Mostra informació i avisos sobre la sincronització amb OneDrive
Comment[ca@valencia]=Mostra informació i avisos sobre la sincronització amb OneDrive
Comment[en_GB]=Shows warnings about updates
Comment[es]=Muestra información y avisos sobre la sincronización con OneDrive
Icon=lliurex-onedrive
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.lliurexonedrive
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
