Source: plasma-widget-lliurex-onedrive
Section: kde
Priority: optional
Uploaders: lliurex <lliurex@gva.es>
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules,
               pkgconf,
               libkf6plasma-dev,
               libkf6i18n-dev,
               pkg-config,
               qt6-base-dev,
               qt6-declarative-dev,
               libkf6runner-dev,
               libkf6notifications-dev,
               libkf6kio-dev
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/focal/lliurex-onedrive-plasmoid
Vcs-Git: https://github.com/lliurex/lliurex-onedrive-plasmoid

Package: plasma-widget-lliurex-onedrive
Architecture: any
Depends: kpackagetool6,
         libkf6purpose6,
         plasma-framework,
         plasma-workspace,
         qml-module-org-kde-kcoreaddons,
         qml-module-org-kde-kio,
         qml-module-org-kde-purpose,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2,
         qml-module-qtwebengine,
         qml-module-qtwebkit,
         ${misc:Depends},
         ${shlibs:Depends}
Description: widget for Lliurex-OneDrive
 This package contains a widget for Lliurex-Onedrive
