Package: plasma-widget-lliurex-onedrive-dbgsym
Package-Type: ddeb
Source: plasma-widget-lliurex-onedrive
Version: 2.5.5.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: lliurex <lliurex@gva.es>
Installed-Size: 1369
Depends: plasma-widget-lliurex-onedrive (= 2.5.5.1)
Section: debug
Priority: optional
Description: debug symbols for plasma-widget-lliurex-onedrive
Build-Ids: 9145c250254db2637e0752a63d4c5b56782181b1
